<div class="header-line">
    <mat-icon class="outlined-icon">person_outline</mat-icon>
    <span class="header-text">הוספת משתמש</span>
  </div>  
<form [formGroup]="userForm" class="user-form-custom" (ngSubmit)="save()">
    <div class="form-row">
      <label>
        <p class="form-label">שם משתמש <span *ngIf="userForm.get('UserName')?.invalid" class="required">*</span></p>
      </label>
      <input class="form-input" dir="rtl" formControlName="UserName" placeholder="הקלד שם משתמש">
    </div>
  
    <div class="form-row">
      <label>
        <p class="form-label">שם פרטי <span *ngIf="userForm.get('FirstName')?.invalid" class="required">*</span></p>
      </label>
      <input class="form-input" dir="rtl" formControlName="FirstName" placeholder="הקלד שם פרטי">
    </div>
  
    <div class="form-row">
      <label>
        <p class="form-label">שם משפחה <span *ngIf="userForm.get('LastName')?.invalid" class="required">*</span></p>
      </label>
      <input class="form-input" dir="rtl" formControlName="LastName" placeholder="הקלד שם משפחה">
    </div>
  
    <div class="form-row">
      <label>
        <p class="form-label">אימייל <span *ngIf="userForm.get('email')?.invalid" class="required">*</span></p>
      </label>
      <input class="form-input" type="email" dir="rtl" formControlName="email" placeholder="example@gmail.com">
    </div>
  
    <div class="form-row">
      <label>
        <p class="form-label">טלפון <span *ngIf="userForm.get('Phone')?.invalid" class="required">*</span></p>
      </label>
      <input class="form-input" dir="rtl" formControlName="Phone" placeholder="הקלד מספר טלפון">
    </div>
  
    <div class="form-row">
      <label>
        <p class="form-label">כתובת <span *ngIf="userForm.get('Address')?.invalid" class="required">*</span></p>
      </label>
      <input class="form-input" dir="rtl" formControlName="Address" placeholder="הקלד כתובת">
    </div>
  
    <div class="form-row">
      <label>
        <p class="form-label">סיסמה <span *ngIf="userForm.get('password')?.invalid" class="required">*</span></p>
      </label>
      <input class="form-input" type="password" dir="rtl" formControlName="password" placeholder="********">
    </div>
  
    <div class="form-actions">
      <button class="btn-save" type="submit">שמור</button>
      <button class="btn-cancel" type="button">ביטול</button>
    </div>
  </form>
  